{% extends 'base.html.twig' %}

{% block body %}

<div>
    <h1>Nous connaître</h1>
    <h2>Une équipe d'experts pour répondre aux défis technologiques de la transformation digitale.</h2>

    <h3>Notre histoire</h3>
    <p>Yitoo est issu de la rencontre de 3 professionnels du digital ayant chacun plus de 10 ans d’expérience. Ensemble, nous avons réalisé et contribué à la réussite de projets stratégiques pour des clients en France et à l'international.</p>
    <p>En 2017, nous avons décidé d'associer nos forces pour fonder Yitoo Technology, un cabinet de conseil et d’expertise IT. Aujourd’hui, nous formons une équipe d'experts issue du monde de l’Open Source, réunie pour aider nos clients à développer des applications qui transforment leurs entreprises et définissent les standards de la nouvelle économie numérique.</p>

    <h3>Notre vision</h3>
    <p>Dans un context où  la transition vers le digital n'est plus une option mais une nécéssité, il est impératif de s'adapter le plus rapidement possible au risque de mourir. S'adapter signifie pour nous, inventer les nouveaux Business Model de votre métier en exploitant les nouveaux leviers que procure le digital.</p>

    <h3>Notre mission</h3>
    <p>Vous aider à réussir votre transition vers le digitale en vous fournissant conseil et expertise technique.</p>

    <h3>Notre équipe</h3>
    <div>
        <h4>Abdoualaye Barry</h4>
        <span>Co-fondateur CEO</span>
        <p>Expert en système d'information et en stratégie digitale, Barry a travaillé pendant plus de 8 ans en tant que consultant indépendant pour des grands groupes du CAC40 en France et au Luxembourg. Passionné de technologie et d'entrepreunariat, il ...</p>
    </div>

    <div>
        <h4>Vanesa Lawson</h4>
        <span>Co-fondateur - Directrice Artistique</span>
        <p>Véritable magicienne, dotée d'une créativité certaine, Vanessa a su imposer une empreinte unique à ses projets et emerveiller les utilisateurs finaux de ses créations. D'abord freelance, puis Directrice Artistique au Figaro</p>
    </div>
</div>
{% endblock %}
