{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper {
        display: flex;
        justify-content: center;
    }
</style>

<div class="example-wrapper">
    <h1>Le studio</h1>
</div>
{% endblock %}
