/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
autom4te.cache
.twgit/features_subject
.php_cs.cache
app/spool/
/node_modules/web/dist
*.phar
/node_modules
/web/dist/*
/web/favicon/*
/web/faviconData.json
*.DS_Store